RewriteEngine On
RewriteBase /vizone/

# Si es un archivo o directorio real que existe, no lo reescribas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Todas las demás peticiones, mándalas a index.php
RewriteRule ^(.*)$ index.php [QSA,L]
